* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Lista de Colores para la pagina
  #D2E0FB color celeste
  #D7E5CA color verde clarito
  #D0BFFF color violeta
  #FFF9F9 color clarito casi blanco 
*/

/* Letra seleccionada de Google Fonts para el proyecto*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Pacifico&display=swap');

/*Nombre de letra para seleccionar font-family: 'Montserrat', sans-serif;
font-family: 'Pacifico', cursive;*/

/*cambio de letra para todo el proyecto y ajuste para simplificar el nro Rem = 10px aprox*/
html {
    font-family: 'Montserrat';
    font-size: 62%;
}

/*Definicion del tamaño del logo*/
header img {
    width: 120px;
    margin-left: 15px;
}

/* Tamaños de letra definidos de manera general*/
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 2.2rem;
}

/*Definicion de HEADER*/
.colornav {
    background-color: #D2E0FB;
}

header li {
    font-size: 2.2rem;

}

header a {
    font-size: 2rem;
}

/*Definiciones en Main de Index*/

.main-index {}

.section-index {

    background-image: url(../imagenes/fondo-estatuilla-buda-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: snow;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    text-align: justify;
    height: auto;
}

.titulo-index {
    text-align: center;
    text-decoration: underline;
    padding-top: 25px;
}

.parrafos-principales {
    padding-top: 15px;
    line-height: 1.5;
    margin: 0px 20px;
}

.secciones-principales {
    background-color: #D2E0FB;
}

.subtitulo-index {
    text-decoration: underline;
    padding: 20px 0px;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
}
.fotos-secciones {
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
   
}

.foto-1 p {
    text-align: center
}

.foto-1 img {
    border: 1px black solid;
    border-width: 2px;
}

.foto-2 p {
    text-align: center
}

.foto-2 img {
    border: 1px black solid;
    border-width: 2px;
}

.foto-3 p {
    text-align: center
}

.foto-3 img {
    border: 1px black solid;
    border-width: 2px;

}


/*Definiciones Seccion contacto*/
.principal-contactanos {
    text-align: justify;
}

.fondo-contacto {
    background-color: aliceblue;
}

.titulo-contacto {
    text-decoration: underline;
}

.subtitulo-contacto {
    text-decoration: underline;
}

.mapa{
    width: 50%;
}

/*Definiciones para el tamano de las imagenes del card bootstrap*/
.card-img-top {
    width: 300px;
    height: 200px;
}

.card {
    background-color: #D2E0FB;
}

.borde {
    border: 1px black solid;
}

/*Definiciones en el Footer*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 20px;
    background-color: #D0BFFF;
}

.logo-footer {
    width: 50px;
}


/*Definiciones para el html de esencias*/

.esencias {
    background-color: aliceblue;
}

.titulo-esencias {
    text-align: center;
    text-decoration: underline;
    padding: 30px;
}

.grid-esencias img {
    width: 100%;
    height: 100%;
}
.grid-esencias p {
    text-align: justify;
    padding: 50px 10px 10px 10px;
}

.grid-esencias {
    display: grid;
    grid-template-areas:
        "i1 t1 i2"
        "i1 ti i2"
        "t2 i3 t3";

    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 250px 250px 400px;

    justify-content: center;
    padding-bottom: 10px;

}

/*Definiciones del lugar de cada concepto a ocupar en la pantalla*/
.grid-img-1 {
    grid-area: i1;
}

.grid-p-1 {
    grid-area: t1;
}

.grid-img-2 {
    grid-area: i2;
}

.grid-p-2 {
    grid-area: t2;
}

.grid-img-3 {
    grid-area: i3;
}

.grid-p-3 {
    grid-area: t3;
}

/*Definiciones de Media Q para mobile en aquellos casos que no use bootstrap*/
/*Para esencias*/
@media screen and (max-width:500px) {
    .grid-esencias {
        grid-template-areas:
            "t1"
            "i1"
            "i2"
            "t3";

        grid-template-columns: 90%;
        grid-template-rows: auto;
    }

    .grid-p-2 {
        display: none;
    }

    .grid-img-3 {
        display: none;
    }
    }

    
    /*Definiciones para el html de Reiki*/

    .reiki{
        background-color: aliceblue;
    }
    
    .titulo-reiki {
        text-align: center;
        text-decoration: underline;
        padding: 30px;
        }
    .subtitulo1-reiki{
        text-align: center;
        text-decoration: underline;
        padding: 30px;
         }
    .subtitulo2-reiki{
        text-align: center;
        text-decoration: underline;
        padding: 30px;
         }


     /*Definiciones para el html de Piedras*/     
    
    .piedras{
        background-color: aliceblue;
    }
    
     .titulo-piedras{
        text-align: center;
        text-decoration: underline;
        padding: 30px;
     }
     
    .tamanio {
        width: 30%;
     }
    
    .carousel-control-prev-icon, .carousel-control-next-icon {
        filter: invert(108%);
      }