/*Definiciones Seccion contacto*/
.principal-contactanos {
    text-align: justify;
}
.fondo-contacto {
    background-color: aliceblue;
}
.titulo-contacto {
    text-decoration: underline;
}
.subtitulo-contacto {
    text-decoration: underline;
}
.mapa {
    width: 50%;
}