/*Definiciones para el html de Reiki*/
.reiki {
    background-color: aliceblue;
    .titulo-reiki {
        text-align: center;
        text-decoration: underline;
        padding: 30px;
    }
    .subtitulo1-reiki {
        text-align: center;
        text-decoration: underline;
        padding: 30px;
    }
    .subtitulo2-reiki {
        text-align: center;
        text-decoration: underline;
        padding: 30px;
    }
    .videos {
        width: 80%;
        padding-left: 50px;
        padding-bottom: 20px;
    }
}